.table-container {
    max-height: 400px;
    overflow-y: auto;
}

.table-container thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #f8f9fa;
}
